* text=auto !eol
cctbx/cctbx/regression/random_generator_state.pickle -text
cctbx/cctbx/regression/structure_ideal.pickle -text
cctbx/cctbx/regression/structure_start.pickle -text
cctbx/cctbx/regression/tst_weighting_schemes.py -text
cctbx/cctbx/regression/tst_xray_minimization_failure.py -text
cctbx/cctbx/xray/weighting_schemes.py -text
cctbx/dox/rst/python_cpp_mix.png -text
iotbx/iotbx/command_line/pdb.print_sequence.py -text
libtbx/libtbx/command_line/bash.sh -text
libtbx/libtbx/command_line/csh.sh -text
libtbx/libtbx/command_line/find_files.py -text
libtbx/libtbx/command_line/list_files.py -text
libtbx/libtbx/command_line/sh.sh -text
libtbx/libtbx/command_line/tcsh.sh -text
libtbx/libtbx/sourceforge_checkout.py -text
libtbx/libtbx/subversion.py -text
libtbx/libtbx_refresh.py -text
libtbx/windows_dispatcher.exe -text
mmtbx/mmtbx/command_line/xmanip.py -text
mmtbx/mmtbx/xmanip.py -text
mmtbx/mmtbx/xmanip_tasks.py -text
smtbx/SConscript -text
smtbx/__init__.py -text
smtbx/import_cctbx.h -text
smtbx/import_scitbx_af.h -text
smtbx/libtbx_config -text
smtbx/refinement/SConscript -text
smtbx/refinement/__init__.py -text
smtbx/refinement/ext.py -text
smtbx/refinement/import_cctbx_xray.h -text
smtbx/refinement/minimization.cpp -text
smtbx/refinement/minimization.h -text
smtbx/refinement/minimization.py -text
smtbx/refinement/refinement_ext.cpp -text
smtbx/refinement/tests/__init__.py -text
smtbx/refinement/tests/tst_minimization.py -text
smtbx/refinement/tests/tst_minimization_at_random.py -text
