* text=auto !eol
boost_adaptbx/boost/std_pair.py -text
boost_adaptbx/boost/tuple.py -text
boost_adaptbx/command_line/divide_by_zero.py svneol=native#text/x-python
boost_adaptbx/command_line/gcd.py svneol=native#text/x-python
boost_adaptbx/command_line/lcm.py svneol=native#text/x-python
boost_adaptbx/command_line/segmentation_fault.py svneol=native#text/x-python
boost_adaptbx/command_line/show_environ_usage.py svneol=native#text/x-python
boost_adaptbx/optional_fwd.h -text
boost_adaptbx/std_pair_conversion.h -text
boost_adaptbx/std_pair_ext.cpp -text
boost_adaptbx/std_pair_fwd.h -text
boost_adaptbx/tst_libc_backtrace.py svneol=native#text/x-python
boost_adaptbx/tst_std_pair.py -text
boost_adaptbx/tst_tuple.py -text
boost_adaptbx/tuple_conversion.h -text
boost_adaptbx/tuple_ext.cpp -text
cbflib_adaptbx/SConscript -text
cbflib_adaptbx/detectors/boost_python/SConscript -text
cbflib_adaptbx/detectors/boost_python/cbflib_ext.cpp -text
cbflib_adaptbx/detectors/cbf_adaptor.cpp -text
cbflib_adaptbx/detectors/mar_adaptor.cpp -text
cbflib_adaptbx/detectors/tst_memory.cpp -text
cbflib_adaptbx/include/cbflib_adaptbx/basic.h -text
cbflib_adaptbx/include/cbflib_adaptbx/cbf_adaptor.h -text
cbflib_adaptbx/include/cbflib_adaptbx/mar_adaptor.h -text
cbflib_adaptbx/include/cbflib_adaptbx/sls_pilatus_adaptor.h -text
cbflib_adaptbx/libtbx_config -text
cctbx/boost_python/orientation_ext.cpp -text
cctbx/command_line/version.py -text
cctbx/crystal_orientation.h -text
cctbx/crystal_orientation.py -text
cctbx/eltbx/xray_scattering/form_factor.h -text
cctbx/examples/maximum_subgroups.py -text
cctbx/examples/quartz_structure.py svneol=native#text/x-python
cctbx/examples/space_subgroups.py svneol=native#text/x-python
cctbx/examples/sub_group_graph.py -text
cctbx/examples/trigonal_r_vs_tetragonal_i.py svneol=native#text/x-python
cctbx/examples/tst_space_subgroups.py svneol=native#text/x-python
cctbx/geometry_restraints/tst_proxy_registry.py svneol=native#text/x-python
cctbx/maptbx/fft.h -text
cctbx/regression/random_generator_state.pickle -text
cctbx/regression/structure_ideal.pickle -text
cctbx/regression/structure_start.pickle -text
cctbx/regression/tst_adp_constraints_cartesian.py -text
cctbx/regression/tst_grouped_data.py -text
cctbx/regression/tst_show_cosets.py -text
cctbx/regression/tst_structure_factors_multithread.py -text
cctbx/regression/tst_weighting_schemes.py -text
cctbx/regression/tst_xray_minimization_failure.py -text
cctbx/sgtbx/boost_python/select_generators.cpp -text
cctbx/sgtbx/rational_matrices_point_groups.py -text
cctbx/sgtbx/show_cosets.py -text
cctbx/source_generators/flex_fwd_h.py -text
cctbx/translation_search/notes.tex -text
cctbx/uctbx/boost_python/tst_crystal_orientation.py -text
cctbx/uctbx/crystal_orientation.cpp -text
cctbx/xray/boost_python/grouped_data.cpp -text
cctbx/xray/boost_python/raw_multithreading/structure_factors_direct.cpp -text
cctbx/xray/grouped_data.h -text
cctbx/xray/raw_multithreading/structure_factors_direct.h -text
cctbx/xray/weighting_schemes.py -text
compcomm/newsletter08/default.css -text
compcomm/newsletter08/f_square_refinement.py -text
compcomm/newsletter08/news.txt -text
compcomm/newsletter08/notes -text
compcomm/newsletter08/special_positions.py -text
crys3d/__init__.py -text
crys3d/images.py -text
crys3d/wx_extra.py -text
crys3d/wx_map_viewer.py -text
dox/references.bib -text
dox/rst/python_cpp_mix.png -text
dox/sbgrid2008_update_generated_files.csh -text
dox/siena2005/cctbx_central_types.pdf -text svneol=unset#application/pdf
dox/siena2005/cctbx_central_types.ppt -text svneol=unset#application/vnd.ms-powerpoint
dox/siena2005/d_star_sq_alternative.py svneol=native#text/x-python
dox/siena2005/index.html svneol=native#text/html
dox/siena2005/sort_merge.py svneol=native#text/x-python
dox/siena2005/sort_merge_initial.py svneol=native#text/x-python
dox/siena2005/talk_concepts.ppt -text svneol=unset#application/vnd.ms-powerpoint
dox/siena2005/talk_concepts_no_duplicate_slides.pdf -text svneol=unset#application/pdf
dox/siena2005/talk_concepts_no_duplicate_slides.ppt -text svneol=unset#application/vnd.ms-powerpoint
dox/siena2005/talk_spectrum.pdf -text svneol=unset#application/pdf
dox/siena2005/talk_spectrum.ppt -text svneol=unset#application/vnd.ms-powerpoint
dox/siena2005_update_generated_files.csh -text
fftw3tbx/SConscript -text
fftw3tbx/__init__.py svneol=native#text/x-python
fftw3tbx/command_line/install_fftw_from_sources.py svneol=native#text/x-python
fftw3tbx/ext.cpp svneol=native#text/plain
fftw3tbx/libtbx_config -text
fftw3tbx/libtbx_refresh.py svneol=native#text/x-python
fftw3tbx/tst_ext.py svneol=native#text/x-python
gltbx/viewer_utils.py svneol=native#text/x-python
gltbx/viewer_utils_ext.cpp svneol=native#text/plain
gltbx/wx_controllers.py -text
gltbx/wx_viewer_example.py -text
gltbx/wx_viewers_images.py -text
iotbx/ccp4_map/SConscript -text
iotbx/ccp4_map/__init__.py svneol=native#text/x-python
iotbx/ccp4_map/ext.cpp svneol=native#text/plain
iotbx/ccp4_map/tst.py svneol=native#text/x-python
iotbx/cif/__init__.py svneol=native#text/x-python
iotbx/cif/tst_xray_structure.py svneol=native#text/x-python
iotbx/cif/xray_structure.py svneol=native#text/x-python
iotbx/cns/crystal_symmetry_utils.py svneol=native#text/x-python
iotbx/command_line/pdb.b_factor_stats.py svneol=native#text/x-python
iotbx/command_line/pdb.join_fragment_files.py svneol=native#text/x-python
iotbx/command_line/pdb.print_sequence.py -text
iotbx/command_line/pdb_as_fasta.py svneol=native#text/x-python
iotbx/detectors/cbf.py -text
iotbx/detectors/pilatus_minicbf.py -text
iotbx/examples/__init__.py svneol=native#text/x-python
iotbx/examples/mtz_convert_free_to_work.py svneol=native#text/x-python
iotbx/examples/mtz_free_flipper.py svneol=native#text/x-python
iotbx/examples/pdb_hierarchy.py svneol=native#text/x-python
iotbx/examples/pdb_truncate_to_ala/crambin_pieces.pdb -text
iotbx/examples/pdb_truncate_to_ala/resname_mix.pdb -text
iotbx/examples/pdb_truncate_to_ala/tst.py svneol=native#text/x-python
iotbx/examples/pdb_truncate_to_ala/tutorial.txt svneol=native#text/plain
iotbx/examples/pdb_truncate_to_ala/v0_getting_started.py svneol=native#text/x-python
iotbx/examples/pdb_truncate_to_ala/v1_loop_over_atoms.py svneol=native#text/x-python
iotbx/examples/pdb_truncate_to_ala/v2_simple.py svneol=native#text/x-python
iotbx/examples/pdb_truncate_to_ala/v3_better.py svneol=native#text/x-python
iotbx/examples/pdb_truncate_to_ala/v4_with_bells_and_whistles.py svneol=native#text/x-python
iotbx/examples/tst_mtz_free_flipper.py svneol=native#text/x-python
iotbx/pdb/Hy36.java svneol=native#text/plain
iotbx/pdb/atom_selection.cpp svneol=native#text/plain
iotbx/pdb/atom_selection.py svneol=native#text/x-python
iotbx/pdb/construct_hierarchy.cpp svneol=native#text/plain
iotbx/pdb/extract_rfactors_resolutions_sigma.py -text
iotbx/pdb/hierarchy.cpp svneol=native#text/plain
iotbx/pdb/hierarchy.h svneol=native#text/plain
iotbx/pdb/hierarchy.py svneol=native#text/x-python
iotbx/pdb/hierarchy_atom_bpl.cpp svneol=native#text/plain
iotbx/pdb/hierarchy_atoms.cpp svneol=native#text/plain
iotbx/pdb/hierarchy_atoms.h svneol=native#text/plain
iotbx/pdb/hierarchy_atoms_bpl.cpp svneol=native#text/plain
iotbx/pdb/hierarchy_bpl.h svneol=native#text/plain
iotbx/pdb/hierarchy_ext.cpp svneol=native#text/plain
iotbx/pdb/hierarchy_select.cpp svneol=native#text/plain
iotbx/pdb/hierarchy_write.cpp svneol=native#text/plain
iotbx/pdb/hybrid_36_cpp.cpp svneol=native#text/plain
iotbx/pdb/hybrid_36_cpp.h svneol=native#text/plain
iotbx/pdb/input.cpp svneol=native#text/plain
iotbx/pdb/input_write.cpp svneol=native#text/plain
iotbx/pdb/namespace.h svneol=native#text/plain
iotbx/pdb/overall_counts.cpp svneol=native#text/plain
iotbx/pdb/records.py svneol=native#text/x-python
iotbx/pdb/rna_dna_atom_names.h -text
iotbx/pdb/rna_dna_atom_names_bpl.cpp -text
iotbx/pdb/tst_atom_selection.py svneol=native#text/x-python
iotbx/pdb/tst_extract_rfactors_resolutions_sigma.py -text
iotbx/pdb/tst_hierarchy.py svneol=native#text/x-python
iotbx/pdb/tst_rna_dna_atom_names.py -text
iotbx/pdb/utils.cpp svneol=native#text/plain
iotbx/pdb/utils.h svneol=native#text/plain
iotbx/pdb/write_utils.cpp svneol=native#text/plain
iotbx/pdb/write_utils.h svneol=native#text/plain
iotbx/pdb/write_utils_bpl.h svneol=native#text/plain
iotbx/regression/tst_lattice_symmetry.py svneol=native#text/x-python
iotbx/shelx/builders.py -text
iotbx/shelx/errors.py -text
iotbx/shelx/fcf.py -text
iotbx/shelx/lexer.py -text
iotbx/shelx/parsers.py -text
iotbx/shelx/tst_lex_parse_build.py -text
iotbx/shelx/util.py -text
libtbx/assert_utils.py -text
libtbx/command_line/assert_line_count.py svneol=native#text/x-python
libtbx/command_line/bash.sh -text
libtbx/command_line/csh.sh -text
libtbx/command_line/extract_code_from_txt.py svneol=native#text/x-python
libtbx/command_line/find_files.py -text
libtbx/command_line/list_files.py -text
libtbx/command_line/nequal.py -text
libtbx/command_line/sge_qstat_counts.py svneol=native#text/x-python
libtbx/command_line/sh.sh -text
libtbx/command_line/show_environ_usage.py svneol=native#text/x-python
libtbx/command_line/show_include_paths.py svneol=native#text/x-python
libtbx/command_line/show_number_of_processors.py svneol=native#text/x-python
libtbx/command_line/tcsh.sh -text
libtbx/libtbx_refresh.py -text
libtbx/object_oriented_patterns.py -text
libtbx/phil/doc.txt svneol=native#text/plain
libtbx/phil/example.params -text
libtbx/smart_open.py svneol=native#text/x-python
libtbx/sourceforge_checkout.py -text
libtbx/subversion.py -text
libtbx/symmetric_multi_processing.py -text
libtbx/tst_itertbx.py -text
libtbx/tst_math_utils.py svneol=native#text/x-python
libtbx/tst_object_oriented_patterns.py -text
libtbx/tst_symmetric_multi_processing.py -text
libtbx/windows_dispatcher.exe -text
mmtbx/alignment.h svneol=native#text/plain
mmtbx/alignment_ext.cpp svneol=native#text/plain
mmtbx/bulk_solvent/tst_bulk_solvent_and_scaling.py -text
mmtbx/chemical_components/__init__.py -text
mmtbx/chemical_components/cif_parser.py -text
mmtbx/chemical_components/tst.py -text
mmtbx/command_line/cbetadev.py -text
mmtbx/command_line/cif_as_mtz.py -text
mmtbx/command_line/maps.py -text
mmtbx/command_line/model_vs_data.py -text
mmtbx/command_line/pdb_atom_selection.py svneol=native#text/x-python
mmtbx/command_line/pdbtools.py -text
mmtbx/command_line/ramalyze.py -text
mmtbx/command_line/rotalyze.py -text
mmtbx/command_line/xmanip.py -text
mmtbx/find_peaks.py -text
mmtbx/hydrogens/find.py -text
mmtbx/ias/__init__.py -text
mmtbx/ias/tst_ias.py -text
mmtbx/maps.py -text
mmtbx/model_statistics.py -text
mmtbx/model_vs_data.py -text
mmtbx/monomer_library/apply_mod_rna.py svneol=native#text/x-python
mmtbx/monomer_library/conformation_dependent_restraints.py svneol=native#text/x-python
mmtbx/monomer_library/mod_rnaC2.cif -text
mmtbx/monomer_library/mod_rnaC3.cif -text
mmtbx/monomer_library/mod_rnaEsd.cif -text
mmtbx/monomer_library/rna_sugar_pucker_analysis.py svneol=native#text/x-python
mmtbx/monomer_library/tst_conformation_dependent_restraints.py svneol=native#text/x-python
mmtbx/monomer_library/tst_protein_interpretation.py -text
mmtbx/monomer_library/tst_rna_dna_interpretation.py -text
mmtbx/monomer_library/tst_rna_sugar_pucker_analysis.py svneol=native#text/x-python
mmtbx/pdb_header.py -text
mmtbx/pdbtools.py -text
mmtbx/refinement/occupancies.py -text
mmtbx/refinement/refinement_flags.py -text
mmtbx/refinement/tst_refinement_flags.py -text
mmtbx/regression/tst_add_h_to_water.py -text
mmtbx/regression/tst_altloc_chain_break.py -text
mmtbx/rotamer/rotamer_names.props -text
mmtbx/rotamer/sidechain_angles.props -text
mmtbx/rotamer/sidechain_angles.py -text
mmtbx/scaling/absence_likelihood.py -text
mmtbx/scaling/absences.py -text
mmtbx/tst_alignment.py -text
mmtbx/tst_pdbtools.py -text
mmtbx/tst_utils.py -text
mmtbx/tst_validate_utils.py -text
mmtbx/utils.py -text
mmtbx/utils/LICENSE.txt -text
mmtbx/utils/SConscript -text
mmtbx/utils/utils.h -text
mmtbx/utils/utils_ext.cpp -text
mmtbx/wwpdb/__init__.py -text
mmtbx/wwpdb/standard_geometry_cif.py -text
mmtbx/wwpdb/tst_standard_geometry_cif.py -text
mmtbx/xmanip.py -text
mmtbx/xmanip_tasks.py -text
omptbx/SConscript -text
omptbx/__init__.py svneol=native#text/x-python
omptbx/ext.cpp svneol=native#text/plain
omptbx/libtbx_config -text
omptbx/lock.h svneol=native#text/plain
omptbx/omp_or_stubs.h svneol=native#text/plain
omptbx/stubs.cpp svneol=native#text/plain
omptbx/stubs.h svneol=native#text/plain
omptbx/tst.py svneol=native#text/x-python
rstbx/README -text
rstbx/SConscript -text
rstbx/__init__.py -text
rstbx/array_family/__init__.py -text
rstbx/array_family/ext.cpp -text
rstbx/array_family/flex.py -text
rstbx/array_family/flex_rstbx_arrays.cpp -text
rstbx/command_line/__init__.py -text
rstbx/command_line/lattice_symmetry.py -text
rstbx/dps_core/__init__.py -text
rstbx/dps_core/basis_choice.py -text
rstbx/dps_core/cell_assessment.py -text
rstbx/dps_core/constrainment.py -text
rstbx/dps_core/direction.cpp -text
rstbx/dps_core/direction.h -text
rstbx/dps_core/directional_fft.cpp -text
rstbx/dps_core/directional_fft.h -text
rstbx/dps_core/dps_core.cpp -text
rstbx/dps_core/dps_core.h -text
rstbx/dps_core/lepage.py -text
rstbx/dps_core/sampling.py -text
rstbx/dps_core/zuoreduction.py -text
rstbx/ext.cpp -text
rstbx/indexing/__init__.py -text
rstbx/indexing/do_index.py -text
rstbx/indexing/results2.dat -text
rstbx/indexing/si_brief.dat -text
rstbx/indexing/si_synthetic.dat -text
rstbx/indexing/tst_auto_monoscan.py -text
rstbx/indexing/tst_dataset1.py -text
rstbx/libtbx_config -text
rstbx/run_tests.py -text
rstbx/symmetry/__init__.py -text
rstbx/symmetry/sgtbx_adaptor.py -text
rstbx/symmetry/subgroup.py -text
scitbx/array_family/boost_python/passing_flex_by_reference.h -text
scitbx/array_family/boost_python/selections_wrapper.h svneol=native#text/plain
scitbx/array_family/boost_python/tst_cost_of_m_handle_in_af_shared.py -text
scitbx/array_family/boost_python/tst_flex_argument_passing.py -text
scitbx/array_family/boost_python/tst_smart_selection.py svneol=native#text/x-python
scitbx/array_family/tst_unsigned_float_arithmetic.cpp -text
scitbx/boost_python/cstringio_utils.h svneol=native#text/plain
scitbx/command_line/generate_error_h.py -text
scitbx/error/SConscript -text
scitbx/error/tst_error.cpp -text
scitbx/error/tst_error.py -text
scitbx/error_utils.h -text
scitbx/examples/principal_axes_of_inertia.py svneol=native#text/x-python
scitbx/examples/rigid_body_refinement_core.py svneol=native#text/x-python
scitbx/examples/rigid_body_refinement_core.txt svneol=native#text/plain
scitbx/graph/__init__.py -text
scitbx/graph/rigidity.py -text
scitbx/graph/rigidity_matrix_symbolic.py svneol=native#text/x-python
scitbx/graph/tst_rigidity.py -text
scitbx/iso_surface.h -text
scitbx/iso_surface/SConscript -text
scitbx/iso_surface/__init__.py -text
scitbx/iso_surface/iso_surface_ext.cpp -text
scitbx/iso_surface/tst_iso_surface.m -text
scitbx/iso_surface/tst_iso_surface.py -text
scitbx/math/accumulators.h -text
scitbx/math/besselk.py -text
scitbx/math/boost_python/least_squares_plane.cpp -text
scitbx/math/boost_python/tst_least_squares_plane.py -text
scitbx/math/euler_angles.h -text
scitbx/math/inertia_tensor.h svneol=native#text/plain
scitbx/math/least_squares_plane.h -text
scitbx/math/sphere_sphere_intersection.py svneol=native#text/x-python
scitbx/math/superpose.h -text
scitbx/matrix/delta_tensors.h -text
scitbx/misc/positive_getitem_index.h svneol=native#text/plain
scitbx/source_generators/flex_fwd_h.py -text
scitbx/sparse/__init__.py -text
scitbx/sparse/boost_python/SConscript -text
scitbx/sparse/boost_python/matrix.cpp -text
scitbx/sparse/boost_python/sparse_ext.cpp -text
scitbx/sparse/boost_python/vector.cpp -text
scitbx/sparse/dfs.h -text
scitbx/sparse/io.h -text
scitbx/sparse/lu_factorization.h -text
scitbx/sparse/matrix.h -text
scitbx/sparse/tests/tst_sparse.py -text
scitbx/sparse/vector.h -text
scitbx/stl/vector_io.h -text
smtbx/SConscript -text
smtbx/__init__.py -text
smtbx/ab_initio/SConscript -text
smtbx/ab_initio/__init__.py -text
smtbx/ab_initio/ab_initio_ext.cpp -text
smtbx/ab_initio/charge_flipping.py -text
smtbx/ab_initio/density_modification.h -text
smtbx/ab_initio/examples/03srv209.hkl.gz -text
smtbx/ab_initio/examples/03srv209.res -text
smtbx/ab_initio/examples/__init__.py -text
smtbx/ab_initio/examples/solve_shelx.py -text
smtbx/ab_initio/tests/__init__.py -text
smtbx/ab_initio/tests/tst_ab_initio_ext.py -text
smtbx/ab_initio/tests/tst_charge_flipping.py -text
smtbx/array_family/SConscript -text
smtbx/array_family/__init__.py -text
smtbx/array_family/af_ext.cpp -text
smtbx/error.h -text
smtbx/import_cctbx.h -text
smtbx/import_scitbx_af.h -text
smtbx/libtbx_config -text
smtbx/libtbx_refresh.py -text
smtbx/refinement/SConscript -text
smtbx/refinement/__init__.py -text
smtbx/refinement/barriers.py -text
smtbx/refinement/constraints/SConscript -text
smtbx/refinement/constraints/__init__.py -text
smtbx/refinement/constraints/constraint_array.h -text
smtbx/refinement/constraints/constraints_array_bp.h -text
smtbx/refinement/constraints/constraints_ext.cpp -text
smtbx/refinement/constraints/geometric_hydrogen.cpp -text
smtbx/refinement/constraints/geometric_hydrogen.h -text
smtbx/refinement/constraints/interface.h -text
smtbx/refinement/constraints/special_positions.cpp -text
smtbx/refinement/constraints/special_positions.h -text
smtbx/refinement/constraints/tests/tst_constraints.py -text
smtbx/refinement/ext.py -text
smtbx/refinement/import_cctbx_xray.h -text
smtbx/refinement/minimization.cpp -text
smtbx/refinement/minimization.h -text
smtbx/refinement/minimization.py -text
smtbx/refinement/parameter_map.cpp -text
smtbx/refinement/parameter_map.h -text
smtbx/refinement/refinement_ext.cpp -text
smtbx/refinement/tests/__init__.py -text
smtbx/refinement/tests/tst_minimization.py -text
smtbx/refinement/tests/tst_minimization_at_random.py -text
smtbx/run_tests.py -text
smtbx/source_generators/__init__.py -text
smtbx/source_generators/flex_fwd_h.py -text
smtbx/stl/SConscript -text
smtbx/stl/__init__.py -text
smtbx/stl/map.py -text
smtbx/stl/map_ext.cpp -text
smtbx/util.py -text
