* text=auto !eol
cctbx/cctbx/regression/tst_weighting_schemes.py -text
cctbx/cctbx/xray/weighting_schemes.py -text
cctbx/dox/rst/python_cpp_mix.png -text
libtbx/libtbx/command_line/find_files.py -text
libtbx/libtbx/command_line/list_files.py -text
libtbx/libtbx/sourceforge_checkout.py -text
libtbx/libtbx/subversion.py -text
libtbx/libtbx_refresh.py -text
libtbx/windows_dispatcher.exe -text
mmtbx/mmtbx/xmanip.py -text
mmtbx/mmtbx/xmanip_tasks.py -text
smtbx/__init__.py -text
smtbx/refinement/__init__.py -text
smtbx/refinement/minimization.py -text
