boost_adaptbx/*.pyc
boost_adaptbx/boost/*.pyc
boost_adaptbx/command_line/*.pyc
boost_adaptbx/graph/*.pyc
boost_adaptbx/graph/tests/*.pyc
boost_adaptbx/tests/*.pyc
cbflib_adaptbx/*.pyc
cbflib_adaptbx/command_line/*.pyc
cctbx/*.pyc
cctbx/adp_restraints/*.pyc
cctbx/adptbx/boost_python/*.pyc
cctbx/array_family/*.pyc
cctbx/array_family/boost_python/*.pyc
cctbx/command_line/*.pyc
cctbx/covariance/*.pyc
cctbx/covariance/tests/*.pyc
cctbx/crystal/*.pyc
cctbx/dev
cctbx/development/*.pyc
cctbx/dmtbx/boost_python/*.pyc
cctbx/doc
cctbx/eltbx/*.pyc
cctbx/eltbx/development/*.pyc
cctbx/eltbx/henke.cpp
cctbx/eltbx/henke_tables_01_12.cpp
cctbx/eltbx/henke_tables_13_24.cpp
cctbx/eltbx/henke_tables_25_36.cpp
cctbx/eltbx/henke_tables_37_48.cpp
cctbx/eltbx/henke_tables_49_60.cpp
cctbx/eltbx/henke_tables_61_72.cpp
cctbx/eltbx/henke_tables_73_84.cpp
cctbx/eltbx/henke_tables_85_92.cpp
cctbx/eltbx/sasaki.cpp
cctbx/eltbx/sasaki_tables_01_12.cpp
cctbx/eltbx/sasaki_tables_13_24.cpp
cctbx/eltbx/sasaki_tables_25_36.cpp
cctbx/eltbx/sasaki_tables_37_48.cpp
cctbx/eltbx/sasaki_tables_49_60.cpp
cctbx/eltbx/sasaki_tables_61_72.cpp
cctbx/eltbx/sasaki_tables_73_82.cpp
cctbx/eltbx/tests/*.pyc
cctbx/eltbx/xray_scattering/*.pyc
cctbx/eltbx/xray_scattering/n_gaussian_raw.cpp
cctbx/examples/*.pyc
cctbx/examples/merging/*.pyc
cctbx/examples/merging/samosa/*.pyc
cctbx/examples/structure_factor_calculus/*.pyc
cctbx/geometry/*.pyc
cctbx/geometry/tests/*.pyc
cctbx/geometry_restraints/*.pyc
cctbx/macro_mol/*.pyc
cctbx/maptbx/*.pyc
cctbx/maptbx/boost_python/*.pyc
cctbx/masks/*.pyc
cctbx/masks/tests/*.pyc
cctbx/math/boost_python/*.pyc
cctbx/merging/*.pyc
cctbx/miller/*.pyc
cctbx/miller/boost_python/*.pyc
cctbx/multipolar/regression/*.pyc
cctbx/neutron/*.pyc
cctbx/omz/*.pyc
cctbx/regression/*.pyc
cctbx/sgtbx/*.pyc
cctbx/sgtbx/boost_python/*.pyc
cctbx/sgtbx/direct_space_asu/*.pyc
cctbx/sgtbx/direct_space_asu/proto/*.pyc
cctbx/source_generators/*.pyc
cctbx/source_generators/eltbx/*.pyc
cctbx/symmetry_search/tests/*.pyc
cctbx/translation_search/*.pyc
cctbx/translation_search/boost_python/*.pyc
cctbx/uctbx/*.pyc
cctbx/uctbx/boost_python/*.pyc
cctbx/uctbx/determine_unit_cell/*.pyc
cctbx/uctbx/determine_unit_cell/NCDist.h.old.h
cctbx/web/*.pyc
cctbx/web/asu_gallery/*.pyc
cctbx/xray/*.pyc
cctbx/xray/boost_python/*.pyc
cctbx/xray/observations/*.pyc
cctbx/xray/structure_factors/*.pyc
cctbx/xray/targets/*.pyc
clipper_adaptbx/clipper/*.pyc
cma_es/*.pyc
cootbx/*.pyc
crys3d/*.pyc
crys3d/command_line/*.pyc
crys3d/hklview/*.pyc
crys3d/qttbx/*.pyc
cudatbx/*.pyc
cudatbx/cufft/*.pyc
cudatbx/math/*.pyc
cudatbx/math/special_functions/*.pyc
cudatbx/scattering/*.pyc
dox.sphinx/*.pyc
dox/compcomm/newsletter08/*.pyc
dox/compcomm/newsletter09/*.pyc
dox/rst/*.pyc
dox/siena2005/*.pyc
dxtbx/*.pyc
dxtbx/command_line/*.pyc
dxtbx/data/*.pyc
dxtbx/data/beamline_defs/*.pyc
dxtbx/example/*.pyc
dxtbx/format/*.pyc
dxtbx/format/tests/*.pyc
dxtbx/model/*.pyc
dxtbx/model/experiment/*.pyc
dxtbx/serialize/*.pyc
dxtbx/tests/*.pyc
dxtbx/tests/command_line/*.pyc
dxtbx/tests/model/*.pyc
dxtbx/tests/model/experiment/*.pyc
dxtbx/tests/serialize/*.pyc
fable/*.pyc
fable/command_line/*.pyc
fable/test/*.pyc
fftw3tbx/*.pyc
fftw3tbx/command_line/*.pyc
gltbx/*.pyc
gltbx/command_line/*.pyc
iota/*.pyc
iota/command_line/*.pyc
iota/components/*.pyc
iotbx/*.pyc
iotbx/PrettyPrint/*.pyc
iotbx/bioinformatics/*.pyc
iotbx/bioinformatics/test/*.pyc
iotbx/ccp4_map/*.pyc
iotbx/cif/*.pyc
iotbx/cif/tests/*.pyc
iotbx/cns/*.pyc
iotbx/command_line/*.pyc
iotbx/detectors/*.pyc
iotbx/detectors/adsc.img
iotbx/detectors/context/*.pyc
iotbx/detectors/util/*.pyc
iotbx/dsn6/*.pyc
iotbx/dtrek/*.pyc
iotbx/examples/*.pyc
iotbx/examples/pdb_truncate_to_ala/*.pyc
iotbx/fullprof/*.pyc
iotbx/gui_tools/*.pyc
iotbx/kriber/*.pyc
iotbx/mtz/*.pyc
iotbx/ncs/*.pyc
iotbx/pdb/*.pyc
iotbx/pdb/remediation/*.pyc
iotbx/regression/*.pyc
iotbx/regression/ncs/*.pyc
iotbx/regression/secondary_structure/*.pyc
iotbx/scalepack/*.pyc
iotbx/shelx/*.pyc
iotbx/solve/*.pyc
iotbx/xds/*.pyc
iotbx/xds/tests/*.pyc
iotbx/xplor/*.pyc
libtbx/*.pyc
libtbx/auto_build/*.pyc
libtbx/bundle/*.pyc
libtbx/command_line/*.pyc
libtbx/development/*.pyc
libtbx/phil/*.pyc
libtbx/program_utils/*.pyc
libtbx/pythonpath/*.pyc
libtbx/pythonpath/optik/*.pyc
libtbx/queuing_system_utils/*.pyc
libtbx/queuing_system_utils/processing/*.pyc
libtbx/scheduling/*.pyc
libtbx/server/*.pyc
libtbx/sphinx/*.pyc
libtbx/test_utils/*.pyc
mmtbx/*.pyc
mmtbx/building/*.pyc
mmtbx/building/alternate_conformations/*.pyc
mmtbx/building/alternate_conformations/scripts/*.pyc
mmtbx/building/loop_closure/*.pyc
mmtbx/bulk_solvent/*.pyc
mmtbx/cablam/*.pyc
mmtbx/cablam/fingerprints/*.pyc
mmtbx/chemical_components/*.pyc
mmtbx/command_line/*.pyc
mmtbx/conformation_dependent_library/*.pyc
mmtbx/den/*.pyc
mmtbx/den/boost_python/*.pyc
mmtbx/density_modification/*.pyc
mmtbx/disorder/*.pyc
mmtbx/dynamics/*.pyc
mmtbx/examples/*.pyc
mmtbx/f_model/*.pyc
mmtbx/geometry/*.pyc
mmtbx/geometry/tests/*.pyc
mmtbx/geometry_restraints/*.pyc
mmtbx/geometry_restraints/boost_python/*.pyc
mmtbx/geometry_restraints/torsion_restraints/*.pyc
mmtbx/hydrogens/*.pyc
mmtbx/ias/*.pyc
mmtbx/idealized_aa_residues/*.pyc
mmtbx/ions/*.eff
mmtbx/ions/*.mtz
mmtbx/ions/*.pdb
mmtbx/ions/*.pyc
mmtbx/ions/svm/*.pyc
mmtbx/kinemage/*.pyc
mmtbx/ligands/*.pyc
mmtbx/maps/*.pyc
mmtbx/masks/*.pyc
mmtbx/max_lik/*.pyc
mmtbx/monomer_library/*.pyc
mmtbx/ncs/*.pyc
mmtbx/polygon/*.pyc
mmtbx/real_space/*.pyc
mmtbx/refinement/*.pyc
mmtbx/refinement/ensemble_refinement/*.pyc
mmtbx/refinement/ensemble_refinement/scripts/*.pyc
mmtbx/refinement/real_space/*.pyc
mmtbx/regression/*.eff
mmtbx/regression/*.mtz
mmtbx/regression/*.pdb
mmtbx/regression/*.pyc
mmtbx/regression/model_idealization/*.pyc
mmtbx/regression/ncs/*.pyc
mmtbx/regression/real_space_refine_chain/*.pyc
mmtbx/regression/tls/*.pyc
mmtbx/regression/tncs/*.pyc
mmtbx/ringer/*.pyc
mmtbx/rotamer/*.pyc
mmtbx/rsr/*.pyc
mmtbx/scaling/*.pyc
mmtbx/secondary_structure/*.pyc
mmtbx/secondary_structure/build/*.pyc
mmtbx/sisa/*.pyc
mmtbx/sisa/optimize/*.pyc
mmtbx/solvent/*.pyc
mmtbx/tls/*.pyc
mmtbx/twinning/*.pyc
mmtbx/utils/*.pyc
mmtbx/validation/*.pyc
mmtbx/validation/molprobity/*.pyc
mmtbx/validation/ramachandran/*.pyc
mmtbx/validation/regression/*.pyc
mmtbx/wwpdb/*.pyc
omptbx/*.pyc
prime/*.pyc
prime/command_line/*.pyc
prime/index_ambiguity/*.pyc
prime/postrefine/*.pyc
rstbx/*.pyc
rstbx/apps/*.pyc
rstbx/apps/stills/*.pyc
rstbx/array_family/*.pyc
rstbx/bandpass/*.pyc
rstbx/bpcx/*.pyc
rstbx/bpcx/detector_model/*.pyc
rstbx/cftbx/*.pyc
rstbx/command_line/*.pyc
rstbx/detectors/*.pyc
rstbx/dials_core/*.pyc
rstbx/diffraction/*.pyc
rstbx/diffraction/fastbragg/*.pyc
rstbx/dps_core/*.pyc
rstbx/indexing/*.pyc
rstbx/indexing_api/*.pyc
rstbx/new_horizons/*.pyc
rstbx/outlier_spots/*.pyc
rstbx/phil/*.pyc
rstbx/simage/*.pyc
rstbx/simulation/*.pyc
rstbx/slip_viewer/*.pyc
rstbx/symmetry/*.pyc
rstbx/symmetry/constraints/*.pyc
rstbx/viewer/*.pyc
scitbx/*.pyc
scitbx/array_family/*.pyc
scitbx/array_family/boost_python/*.pyc
scitbx/array_family/detail/operator_functors.h
scitbx/array_family/detail/std_imports.h
scitbx/boost_python/*.pyc
scitbx/command_line/*.pyc
scitbx/error/*.pyc
scitbx/examples/*.pyc
scitbx/examples/bevington/*.pyc
scitbx/fftpack/boost_python/*.pyc
scitbx/fftpack/timing/*.pyc
scitbx/glmtbx/*.pyc
scitbx/glmtbx/tests/*.pyc
scitbx/graph/*.pyc
scitbx/graphics_utils/*.pyc
scitbx/iso_surface/*.pyc
scitbx/lbfgs/*.pyc
scitbx/lbfgs/dev/*.pyc
scitbx/lbfgsb/boost_python/*.pyc
scitbx/linalg/*.pyc
scitbx/linalg/tests/*.pyc
scitbx/lstbx/*.pyc
scitbx/lstbx/tests/*.pyc
scitbx/math/*.pyc
scitbx/math/boost_python/*.pyc
scitbx/math/tests/*.pyc
scitbx/matrix/*.pyc
scitbx/matrix/tests/*.pyc
scitbx/minpack/*.pyc
scitbx/python_utils/*.pyc
scitbx/random/*.pyc
scitbx/random/tests/*.pyc
scitbx/rigid_body/*.pyc
scitbx/rigid_body/essence/*.pyc
scitbx/rigid_body/proto/*.pyc
scitbx/source_generators/*.pyc
scitbx/source_generators/array_family/*.pyc
scitbx/sparse/*.pyc
scitbx/sparse/tests/*.pyc
scitbx/stl/*.pyc
scitbx/suffixtree/*.pyc
scitbx/suffixtree/test/*.pyc
scitbx/wigner/*.pyc
smtbx/*.pyc
smtbx/ab_initio/*.pyc
smtbx/ab_initio/development/*.pyc
smtbx/ab_initio/tests/*.pyc
smtbx/absolute_structure/*.pyc
smtbx/absolute_structure/tests/*.pyc
smtbx/array_family/*.pyc
smtbx/command_line/*.pyc
smtbx/masks/*.pyc
smtbx/masks/tests/*.pyc
smtbx/refinement/*.pyc
smtbx/refinement/constraints/*.pyc
smtbx/refinement/constraints/geometrical/*.pyc
smtbx/refinement/constraints/tests/*.pyc
smtbx/refinement/restraints/*.pyc
smtbx/refinement/restraints/tests/*.pyc
smtbx/refinement/tests/*.pyc
smtbx/source_generators/*.pyc
smtbx/stl/*.pyc
smtbx/structure_factors/*.pyc
smtbx/structure_factors/direct/*.pyc
smtbx/structure_factors/direct/tests/*.pyc
smtbx/tests/*.pyc
sphinx/*.pyc
sphinx/build
spotfinder/*.pyc
spotfinder/applications/*.pyc
spotfinder/applications/heuristic_tbx/*.pyc
spotfinder/applications/xfel/*.pyc
spotfinder/array_family/*.pyc
spotfinder/command_line/*.pyc
spotfinder/core_toolbox/*.pyc
spotfinder/core_toolbox/boost_python/*.pyc
spotfinder/diffraction/*.pyc
spotfinder/dxtbx_toolbox/*.pyc
spotfinder/math_support/*.pyc
spotfinder/servers/*.pyc
wxtbx/*.pyc
wxtbx/command_line/*.pyc
wxtbx/phil_controls/*.pyc
wxtbx/plots/*.pyc
wxtbx/regression/*.pyc
wxtbx/reports/*.pyc
xfel/*.pyc
xfel/amo/*.pyc
xfel/amo/pnccd_ana/*.pyc
xfel/cftbx/*.pyc
xfel/cftbx/detector/*.pyc
xfel/clustering/*.pyc
xfel/clustering/test_cluster.py
xfel/command_line/*.pyc
xfel/cxi/*.pyc
xfel/cxi/clustering/*.pyc
xfel/cxi/command_line/*.pyc
xfel/cxi/cspad_ana/*.pyc
xfel/cxi/gfx/*.pyc
xfel/graph_proc/*.pyc
xfel/merging/*.pyc
xfel/metrology/*.pyc
xfel/metrology/legacy_scale/*.pyc
xfel/mono_simulation/*.pyc
xfel/sacla/*.pyc
xfel/small_cell/*.pyc
xfel/ui/*.pyc
xfel/ui/command_line/*.pyc
xfel/ui/components/*.pyc
xfel/ui/db/*.pyc
xfel/util/*.pyc
xfel/vonHamos/*.pyc
xfel/xpp/*.pyc
