{% extends "tutorials_cctbx/header_new.html" %}

{% load static %}

{% block content %}

<div class="container">

<div class="row">

<div class="col-sm-9">

<h2><center>Page Title</center></h2>



<h3 class="mt-5">Subtitle 1</h3>
<p>Some text</p>
<p>Some text with <code>code</code> quoted within text.</p>

<h4>sub-subtitle</h4>
<p>Some more text</p>

<h3 class="mt-3">Subtitle 2</h3>
<p>Some other text</p>
<pre class="codeDL"><code>from iotbx.map_model_manager import map_model_manager      # load in the map_model_manager
mmm=map_model_manager()     # get an initialized instance of the map_model_manager
</code></pre>

<h3 class="mt-3">Subtitle 3</h3>
<p>Some other text</p>
<pre class="codeDL"><code>mmm.generate_map()     # get a model from a small library model and calculate a map for it
</code></pre>



</div> <!-- end col-sm-9 -->

<!-- sidebar, which will move to the top on a small screen -->
<div class="col-sm-3">
  <nav id="toc" data-toggle="toc" class="sticky-top"></nav>
</div> <!-- end col-sm-3 -->

</div> <!-- end row -->

</div> <!-- end container -->

{% endblock %}
