jobs:
  - template: ./conda-linux.yml
    parameters:
      distribution: centos
      version: [7]
      modules: xfel_modules
      template: ./unix-conda-build.yml
      prefix: xfel_
  - template: ./conda-linux.yml
    parameters:
      distribution: centos
      version: [7]
      modules: xfel_modules
      template: ./unix-psana-build.yml
      prefix: xfel_psana_
  - template: ./conda-osx.yml
    parameters:
      vmImage: [10, 14]
      xcode_version: [11, 3, 1]
      modules: xfel_modules
      template: ./unix-conda-build.yml
      prefix: xfel_
