.cache
.DS_Store
*~
*.pyc
*.swp
.git-notifier*
git-notifier.log
.gitversion
nanoBragg/backups/
nanoBragg.cpp.03-13-17
nanoBragg_standalone
notes.com
test.com
test_miller
test_miller.cpp
test_miller.cpp~
testNAN
testNAN.cpp
testNAN.cpp~
intimage_001.img
