.cache
.DS_Store
*~
*.pyc
*.swp
*.img
*.mccd
*.mccd.gz
*.mtz
*.mtz.gz
*.cbf
*.bin
.adxv_beam_center
.git-notifier*
git-notifier.log
.gitversion
nanoBragg/backups/
nanoBragg/ignoreme/
nanoBragg_standalone
nonBragg_standalone
notes.com
test.com
test_miller
test_miller.cpp
test_miller.cpp~
testNAN
testNAN.cpp
testNAN.cpp~
intimage_001.img
nanoBragg/intimage.img
nanoBragg/.adxv_beam_center
