# Script for checking out sources and storing it as an artifact
# The artifact name is "modules"
#
# Parameters:
#   flags: <empty>, --use-conda
#   optimization: <empty>, 0, 1, 2, 3

jobs:
- job: modules${{ parameters.optimization }}
  pool:
    vmImage: ubuntu-latest
  timeoutInMinutes: 90

  steps:

  # download sources
  - checkout: self
    path: ./modules/cctbx_project

  - script: |
      cd $(Pipeline.Workspace)
      ln -s modules/cctbx_project/libtbx/auto_build/bootstrap.py
    displayName: Link bootstrap.py

  - script: |
      cd $(Pipeline.Workspace)
      python bootstrap.py hot update --builder=cctbx ${{ parameters.flags }}
    displayName: Download sources

  # change optimization level (linux, macOS)
  - script: |
      cd $(Pipeline.Workspace)/modules/cctbx_project/libtbx
      # Remove -ffast-math
      sed -i 's/-ffast-math//g' SConscript
      # Change -O level
      sed -i 's/-O3/-O${{ parameters.optimization }}/g' SConscript
    displayName: Changing optimization (linux, macOS)
    condition: or(eq('${{ parameters.optimization }}', 0), eq('${{ parameters.optimization }}', 1), eq('${{ parameters.optimization }}', 2), eq('${{ parameters.optimization }}', 3))

  # change optimization level (Windows)
  - script: |
      cd $(Pipeline.Workspace)/modules/cctbx_project/libtbx
      # Remove /fp:fast
      sed -i 's/\/fp:fast//g' SConscript
      # Change /O2 to /O1
      sed -i 's/\/O2/\/O1/g' SConscript
    displayName: Changing optimization (Windows)
    condition: or(eq('${{ parameters.optimization }}', 0), eq('${{ parameters.optimization }}', 1))

  # download test data
  # - task: DownloadPipelineArtifact@2
  #   inputs:
  #     source: 'specific'
  #     project: '$(System.TeamProjectId)'
  #     pipeline: 4
  #     artifact: 'chem_data'
  #     path: $(Pipeline.Workspace)/modules/chem_data
  #   displayName: Download chem_data

  - task: DownloadPipelineArtifact@2
    inputs:
      source: 'specific'
      project: '$(System.TeamProjectId)'
      pipeline: 4
      artifact: 'phenix_regression'
      path: $(Pipeline.Workspace)/modules/phenix_regression
    displayName: Download phenix_regression

  - task: DownloadPipelineArtifact@2
    inputs:
      source: 'specific'
      project: '$(System.TeamProjectId)'
      pipeline: 4
      artifact: 'phenix_examples'
      path: $(Pipeline.Workspace)/modules/phenix_examples
    displayName: Download phenix_examples

  # preserve permissions
  - script: |
      cd $(Pipeline.Workspace)
      tar -chf modules.tar modules
    displayName: Build tarball

  # publish artifact
  - publish: $(Pipeline.Workspace)/modules.tar
    artifact: modules${{ parameters.optimization }}
    continueOnError: true
