# Parameters:
#   modules: <modules artifact name>

jobs:
  - template: ./conda-win.yml
    parameters:
      modules: ${{ parameters.modules }}
  - template: ./conda-linux.yml
    parameters:
      distribution: centos
      version: [6]
      modules: ${{ parameters.modules }}
  - template: ./conda-linux.yml
    parameters:
      distribution: centos
      version: [7]
      modules: ${{ parameters.modules }}
  - template: ./conda-linux.yml
    parameters:
      distribution: centos
      version: [8]
      modules: ${{ parameters.modules }}
  - template: ./conda-linux.yml
    parameters:
      distribution: ubuntu
      version: ['18', '04']
      modules: ${{ parameters.modules }}
  - template: ./conda-linux.yml
    parameters:
      distribution: ubuntu
      version: ['16', '04']
      modules: ${{ parameters.modules }}
  - template: ./conda-linux.yml
    parameters:
      distribution: ubuntu
      version: ['20', '04']
      modules: ${{ parameters.modules }}
  - template: ./conda-osx.yml
    parameters:
      vmImage: [10, 15]
      xcode_version: [11, 4, 1]
      modules: ${{ parameters.modules }}
  - template: ./conda-osx.yml
    parameters:
      vmImage: [10, 14]
      xcode_version: [11, 3, 1]
      modules: ${{ parameters.modules }}
  - template: ./conda-osx.yml
    parameters:
      vmImage: [10, 14]
      xcode_version: [10, 3]
      modules: ${{ parameters.modules }}
